<div class="social-icons acquisition-meta js-acquisition-meta">
  <ul class="list-unstyled text-center mb-0">
    <li class="list-unstyled-item ca-social-one">
      <a href="http://www.twitter.com/Anderson760">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-unstyled-item ca-social-two">
      <a href="http://www.youtube.com/pgshock">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li class="list-unstyled-item ca-social-three">
      <a href="http://www.instagram.com/yoshyosh18">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>