---
pageable: true
per_page: 150
---

<section class="home-header">
  <div class="container">
    <div class="home-header-content">
    <a id="yosh-logo" href="http://seekingtraction.com"><img src="/images/joe-laptop.jpg" alt="Joe on a laptop" class="yosh-main-logo yosh-logo-img">
    </a>
      <p class="home-description">Hi I’m Joe, and I’m currently working on <a href="https://www.mightyscout.com">MightyScout</a>. You can follow along as I document the experiments we try and the ups and downs of finding customers.</p>
      <div class="home-social-container">
          <a href="http://www.twitter.com/Anderson760" class="yosh-contact-meta">
            <img src="/images/twitter-logo.svg" alt="Instagram logo"/>
          </a>
          <a href="http://www.instagram.com/yoshyosh18" class="yosh-contact-meta">
            <img src="/images/ig-logo.svg" alt="Instagram logo"/>
          </a>
          <a href="http://www.youtube.com/pgshock" class="yosh-contact-meta">
            <img src="/images/youtube-logo.svg" alt="Instagram logo"/>
          </a>
          <div class="location-container">
            <img src="/images/pin.svg" alt="Location pin" />
            <span>Amsterdam</span>
          </div>
        </div>
      </div>

    </div>
</section>

<div class="container">
<% page_articles.each_with_index do |article, i| %>
  <div class="post-item">
    <span class="yosh-post-meta"><%= article.date.strftime('%e %b %Y') %></span>
    <h2><%= link_to article.title, article %></h2>
    <%= strip_summary article.summary(250) %>
  </div>
<% end %>
</div>