---
pageable: true
per_page: 150
title: Seeking Traction
summary: Weekly short videos documenting my process as a designer building products and finding customers. I'll be sharing everything I learn about the intersection of marketing, design, and business development. Sign up for updates when new videos are released.
---
<div class="bui-container--center">
  <div class="bui-grid">
    <% page_articles.each_with_index do |article, i| %>
    <div class="bui-grid__column-4@medium">
      <div class="card grid-card">
        <% link_to article.path, :class => "card-link" do %>
          <img class="card-img-top" src="images/<%= article.data.imgname %>" alt="Card image cap">
          <div class="card-body">
            <p class="episode-title">Episode #<%= article.data.episode %></p>
            <h2 class="card-title"><%= article.title %></h2>
            <p class="card-text"><%= article.data.summary %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>